/*
ADD TO HTML TO IMPORT FONTS; MAKE SURE YOU RENAME "SOFIA" + NAME OF STYLESHEET
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='subcat.css'>
*/

ul.menu{
  background-color: white; 
  background-position: absolute;
  padding: 0;
  margin: none;
}

div.cat_name {
  font-family: 'Arsenal';
  font-size: 60px;
  font-weight:bold;
  color:#000000;
  text-align: center;
  background-image: url("http://rhyva.info/wp-content/uploads/2016/09/new-ideas-white-wood-floor-texture-bigstock-wooden-texture-white-wood-bac-41528731-0.jpg");
  background-repeat: no-repeat;
  padding: 100px;
  background-size: cover;
  background-postion: bottom;
}

div.cat_desc{
  font-family: 'Quicksand';
  font-size: 30px;
  color:#000000;
  text-align: center;
}

img.pic{
  display:block;
  margin:auto;
  border-radius: 25px;
}

div.store_name{
  font-family: 'Quicksand';
  font-size: 25px;
  color:color:#000000;
  text-align: center;
  text-decoration: none;
}

div.description {
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
}

div.location{
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
  text-decoration: none;
}

.container {
  position: relative;
  width: 300px;
}

.image {
  display: block;
  width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e4faef;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #c0ab84;
  font-size: 20px;
  font-family: 'Quicksand';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
    font-family: 'Quicksand';
}
.top {
  position: relative;
  float: left;
  height: 400px;
  width: 1400px;
}
.bottom {
  position: relative;
  float: left;
  height: 400px;
  width: 1400px;
}

body {
  background-image: url(https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20708130_1188076381338400_6783320108811645063_n.jpg?oh=5cc9239f1c51a82c80172349207ecfcb&oe=5A2AE431) ;
  background-position: cover ;
  padding: 0px;
  margin: 0px;
}
  
