/*
ADD TO HTML TO IMPORT FONTS; MAKE SURE YOU RENAME "SOFIA" + NAME OF STYLESHEET
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='subcat.css'>
*/

ul.menu{
  background-color: white; 
}

div.cat_name {
  font-family: 'Arsenal';
  font-size: 60px;
  font-weight:bold;
  color:#000000;
  text-align: center;
  background-image: url("https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg");
  background-repeat: no-repeat;
  padding: 100px;
  background-size: cover;
  background-postion: bottom;
}

div.cat_desc{
  font-family: 'Quicksand';
  font-size: 30px;
  color:#000000;
  text-align: center;
}

img.pic{
  display:block;
  margin:auto;
}

div.store_name{
  font-family: 'Quicksand';
  font-size: 25px;
  color:color:#000000;
  text-align: center;
  text-decoration: none;
}

div.description {
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
}

div.location{
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
  text-decoration: none;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

body {
    background-image: url("https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20622340_1649493488458030_5504497678487335217_n.jpg?oh=a1bac944da9db45746ca9735d256496b&oe=5A29466C");
    background-repeat: repeat-y
    repeat-x;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; 
  transition: .5s ease;
  background-color: #c8e3f4;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color:#8a8391 ;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
