/*
ADD TO HTML TO IMPORT FONTS; MAKE SURE YOU RENAME "SOFIA" + NAME OF STYLESHEET
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='subcat.css'>
*/

ul.menu{
  background-color: white; 
}

/*
body {
    background-image: url("https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/20622340_1649493488458030_5504497678487335217_n.jpg?oh=a1bac944da9db45746ca9735d256496b&oe=5A29466C");
    background-repeat: repeat-y repeat-x;
}
*/

div.cat_name {
  font-family: 'Arsenal';
  font-size: 60px;
  color:#000000;
  text-align: center;
  background-image: url("http://media.istockphoto.com/photos/white-wooden-table-texture-background-picture-id511201318?k=6&m=511201318&s=612x612&w=0&h=sjBRaDUHUPyhIorYOOzhMLdEed8Kfwr7rxCkp5O_0ZQ=");
  background-repeat: repeat-y repeat-x;
  padding: 100px;
}

div.cat_desc{
  font-family: 'Quicksand';
  font-size: 30px;
  color:#000000;
  text-align: center;
}

img.pic{
  display:block;
  margin:auto;
}

div.store_name{
  font-family: 'Quicksand';
  font-size: 25px;
  color:color:#000000;
  text-align: center;
}

div.description {
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
}

div.location{
  font-family: 'Quicksand';
  font-size: 20px;
  color:#000000;
  text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
